<<<<<<< HEAD
<% provide(:title, "#{current_shop.name}様ページ") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>現在の設定情報</h1>
      <h3><%= current_shop.name %></h3>
      <p><%= "#{@current_shop.name}様のメインイメージ" %></p>
      <% if current_shop.shop_img.present? %>
        <%= image_tag(@current_shop.shop_img_url) %>
      <% else %>
        <img src="https://dummyimage.com/300x200/000000/fae6fa.jpg&text=%E3%81%93%E3%82%8C%E3%81%AF%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%81%A7%E3%81%99">
      <% end %>
        <%= form_with(model: @current_shop, url: shop_imgprocess_path(current_shop), method: :post, local: true ) do |f| %>
          <%= f.file_field :shop_img %>
          <%= f.submit '変更', class: 'btn btn-success btn-xs' %>
        <% end %>
        <div class="shop_description">
          
          <% if @shop.shop_desc.nil? %>
            <%= link_to "店舗概要設定", shop_desc_path(current_shop) %>
          <% else %>
          <p>現在の店舗概要</p>
            <%= @shop.shop_desc.description %>
            <%= link_to '編集', shop_descedit_path(@shop) %>
            <i class="fa fa-camera"></i>
          <% end %>
        </div>
        
        <div class="shop_product">
          <%= link_to "取り扱い商品登録", shop_product_path(current_shop) %>
          <p>現在の取り扱い商品一覧</p>
          <ul>
            <% current_shop.products.each do |product| %>
              <li>
                <%= product.name %>
              </li>
            <%= link_to '削除', shop_product_delete_path(product), method: :delete %>
            <% end %>
          </ul>
        </div>
          <% if logged_in_shop? %>
            <%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %>
          <% end %>
    </div>
  </div>
</div>

=======
<div class="container" style="width: 80%;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <%= link_to show_path(current_shop) do %>
          <%= @shop.name %> 
        <% end %>
          <div class="des_link">
            <% if @shop.shop_contents.nil? %>
              <%= link_to "店舗説明", shop_des_path(current_shop) %>
            <% else %>
              <% @shop.shop_contents.each do |content| %>
                <%= link_to "店舗説明編集", shop_des_edit_path(content) %>
              <% end %>
            <% end %>
          </div>
        <% if logged_in_shop? %>
        <%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %>
    <% end %>
    </div>
  </div>
</div>
>>>>>>> 1dc7385d28732438a05c4f5d553bec4f306a5f4e
