<% provide(:title, "#{current_shop.name}様ページ") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>現在の設定情報</h1>
      <h3><%= current_shop.name %></h3>
      <p><%= "#{@current_shop.name}様のメインイメージ" %></p>
      <% if current_shop.shop_img.present? %>
        <%= image_tag(@current_shop.shop_img_url) %>
      <% else %>
        <img src="https://dummyimage.com/300x200/000000/fae6fa.jpg&text=%E3%81%93%E3%82%8C%E3%81%AF%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%81%A7%E3%81%99">
      <% end %>
        <%= form_with(model: @current_shop, url: shop_imgprocess_path(current_shop), method: :post, local: true ) do |f| %>
          <%= f.file_field :shop_img %>
          <%= f.submit '変更', class: 'btn btn-success btn-xs' %>
        <% end %>
        <div class="shop_description">
          
          <% if @shop.shop_desc.nil? %>
            <%= link_to "店舗概要設定", shop_desc_path(current_shop) %>
          <% else %>
          <p>現在の店舗概要</p>
            <%= @shop.shop_desc.description %>
            <%= link_to '編集', shop_descedit_path(@shop) %>
            <i class="fa fa-camera"></i>
          <% end %>
        </div>
          <% if logged_in_shop? %>
            <%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %>
          <% end %>
    </div>
  </div>
</div>

