<div class="container" style="width: 80%;">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<%= @shop.name %> 
<%= form_with(model: @shop_contents, url: shop_make_path, method: :post) do |f| %>
  <div class="form-group">
    <%= f.label :description, '薬局のアピールポイント' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <%= f.submit '投稿する', class: 'btn btn-md btn-success' %>
<% end %>
<% if logged_in_shop? %>
<%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %>
<% end %>
</div>
</div>
</div>