
			<nav class="navbar navbar-default" id="header">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<%= link_to root_path do %>
							<%= image_tag '/top_images/e_logo_03.png', class: 'logologo', height: "50px" %>
						<% end %>
					</div>
					
					<div class="collapse navbar-collapse" id="navbarEexample">
						<% if logged_in_shop? %>
							<ul class="nav navbar-nav">
								<li><%= link_to 'ダッシュボード', shop_dashboard_path(current_shop) %></li>
								<li><%= link_to '店舗ページ', show_path(current_shop) %></li>
								<li><%= link_to 'ログアウト', logout_path, method: :delete, data: { confrim: '本当にログアウトしますか？' } %></li>
							</ul>
						<% else %>
						<ul class="nav navbar-nav">
							<li class="active"><%= link_to root_path do %>Home<% end %></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
						<% end %>
						<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="検索キーワード">
						</div>
						<button type="submit" class="btn btn-default">検索</button>
					</form>
					</div>
				</div>
			</nav>
	

